@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}     
<div class="container">
    <div class="row">
        <div class="span8">
            <div class="clearfix cols-1">
                <div class="span4 left-0">
                    <h4 class="indent-2">Generate SA ID Number</h4>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="clearfix cols-1">
                <div class="span4 left-0">
                    <h5 id="idNumber"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="contact-form">
            <form id="contact-form" method="post">
                <fieldset>
                    <label class="name">
                        <input type="text" placeholder="FirstName:" name="firstName" id="firstName">
                    </label>
                    <label class="name">
                        <input type="text" placeholder="LastName:" name="lastName" id="lastName">
                    </label>
                    <label class="name">
                        <input type="text" placeholder="Race:" name="race" id="race">
                    </label>
                    <label class="name">
                        <input type="date" data-date-inline-picker="true" placeholder="Date Of Birth:" name="dateOfBirth" id="dateOfBirth">
                    </label>
                    <label class="name">
                        <select name="gender" id="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </label>
                </fieldset>
                <div class="pull-left">
                    <a href="#" onclick="GenerateIdNumber()" class="btn btn_ btn-small_" data-type="submit">submit</a>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <div class="clearfix cols-1">
                <div class="span4 left-0">
                    <h4 class="indent-2">Validate SA ID Number</h4>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="clearfix cols-1">
                <div class="span4 left-0">
                    <h5 id="validateIdNumber"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="contact-form">
            <form id="contact-form" method="post">
                <fieldset>
                    <label class="name">
                        <input type="text" placeholder="ID Number:" name="validIdNumber" id="validIdNumber">
                    </label>
                </fieldset>
                <div class="pull-left">
                    <a href="#" onclick="ValidateIdNumber()" class="btn btn_ btn-small_" data-type="submit">submit</a>
                </div>
            </form>
        </div>
    </div>
</div>
<p style="min-height: 100px"></p>
